header {
  text-align: center;
  height: 50px;
}

footer {
  text-align: center;
  padding: 50px;
}

/* CLASSES */
.buttons {
  position: relative;
  margin: auto;
  height: 50px;
  width: 500px;
}

.container {
  display: flex;
  justify-content: center;
}

.canvas {
  margin: auto;
  height: 500px;
  max-height: 500px;
  border: 1px solid black;
  background-color: white;
}

.black {
  background-color: black;
}

.column {
  padding: 0px;
  margin: 0px;
}

.row {
  padding: 0px;
  margin: 0px;
  display: flex;
}

/* IDs */
#reset {
  float: right;
  margin: 10px;
}

#color {
  float: left;
  margin: 10px;
}
